<div class="vid-container">
  <img id="Video1" class="bgvid back"
    src="https://res.cloudinary.com/mscsam/image/upload/v1604175053/Landscape/lands_galway1_vbqq2m.jpg"
    type="video/mp4">

  <div class="inner-container">
    <img id="Video2" class="bgvid inner"
      src="https://res.cloudinary.com/mscsam/image/upload/v1604175053/Landscape/lands_galway1_vbqq2m.jpg">

      {{!-- *make this images responsive.--}}

    {{#if errorMessage}}
    <p class="error-message">
      {{ errorMessage }}
    </p>
    {{/if}}

    {{!-- <form action="/login" method="post">
  <div>
    <label for="email-input"></label>
    <input type="email" name="email" id="email-input"
      placeholder="E-mail">
  </div>

  <div>
    <label for="password-input"></label>
    <input type="password" name="password" id="password-input"
      placeholder="Password">
  </div>

  <button class="btn"> Login </button>
</form>

<p>
  Don't have an account?
  <a href="/signup">
    Sign Up.
  </a>
</p> --}}


    <form action="/login" method="post">
      <div class="box">
        <h1>Login</h1>
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button>Login</button>
    </form>
    <p>Don't have an account?<span> <a href="/signup">Sign Up</a></span></p>
  </div>
</div>
</div>