{{!-- aqui va el titulo del theme y fotos de ese theme --}}

<h1>Selected Theme</h1>

<h2>(`${title}`)</h2>
<a class="#" href="/onePhoto">
    <img class="#"
        src="https://res.cloudinary.com/mscsam/image/upload/c_thumb,w_200,g_face/v1604175056/Landscape/lands_niort1_inbwvd.jpg"
        alt="test">
</a>
<p>description</p>
<h4>Price $</h4>