<h1>soon...</h1>
<div>
    <h1>PAYMENT</h1>
    {{!-- pasarela de pago --}}
    {{!-- aqui iria una info del usuario (nombre, apellidos) --}}
    <p>{{req.currentUserInfo}}</p>
    {{!-- luego va una direccion de envio --}}
    {{!-- info del metodo de pago(tarjeta o CC) --}}
    {{!-- boton de confirmar pago --}}
    <button class="btn" name="payment" >Accept Payment</button>
</div>