<a href="/userAccount">
  <h3>My account</h3>
</a>
<p>Hello {{currentUserInfo.name}}, welcome to your account. Here you can modify your personal information, track your
  orders or manage your Favorites.</p>
<div class="#">
  <h3>My details</h3>
  <div class="#">
    <p>Edit your personal details.</p>
  </div>
</div>
<br>

<a href="/myOrders">
  <h3>My Orders</h3>
</a>
<p>Hello {{currentUserInfo.name}}, welcome to your account. Here you can modify your personal information, track your
  orders or manage your Favorites.</p>
<div class="#">
  <h3>My details</h3>
  <div class="#">
    <p>Edit your personal details.</p>
  </div>
</div>
<br>

<a href="/returns">
  <h3>Returns</h3>
</a>
<p>Hello {{currentUserInfo.name}}, welcome to your account. Here you can modify your personal information, track your
  orders or manage your Favorites.</p>
<div class="#">
  <h3>My details</h3>
  <div class="#">
    <p>Edit your personal details.</p>
  </div>
</div>
<br>

<a href="/favorites">
  <h3>Favourites</h3>
</a>
<p>Hello {{currentUserInfo.name}}, welcome to your account. Here you can modify your personal information, track your
  orders or manage your Favorites.</p>
<div class="#">
  <h3>My details</h3>
  <div class="#">
    <p>Edit your personal details.</p>
  </div>
</div>
<br>

