
  
      <h3>Personal details</h3>

<form action="/userAccount" method="POST">
    <div>
        <label for="name-input"> Name </label>
        <input type="text" name="name" id="name-input" value="{{currentUserInfo.name}}">
    </div>

    <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" value="{{currentUserInfo.email}}">
    </div>

    <div>
        <label for="address-input"> Address </label>
        <input type="address" name="address" id="address-input" value="{{currentUserInfo.address}}">
    </div>



    <button type="submit" > save changes </button>
</form>





