<p class="">Hello {{currentUserInfo.name}}, welcome to your account. Here you can modify your personal information, track your
  orders or manage your Favorites.</p>
<br>

<a href="/userAccount">
  <h3>My account</h3>
</a>
<p>Check your Account</p>

<a href="/myOrders">
  <h3>My Orders</h3>
</a>
<p>Check your Orders</p>
<br>

<a href="/returns">
  <h3>Returns</h3>
</a>
<p>Check your Returns</p>
<br>

<a href="/favorites">
  <h3>Favourites</h3>
</a>
<p>Check your Favourites</p>

<br>

