<h1>{{title}}</h1>

<div>
<img src="/public/images/fotos-Database/B&W/b&w_belgium1.jpg" alt="imagetest">
</div>

<nav>
  <ul>
    {{#if isUserLoggedIn}}
      <li> <a href="/user">{{currentUserInfo.name}}</a> </li>
      <li> <a href="/cart">Cart</a> </li>
      <li> <a href="/themes">Themes</a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>

{{!-- aqui va el carrusel de fotos --}}

{{!-- aqui va ejemplos de fotos --}}

{{!-- aqui ira la lista de themes --}}
