/* General */

html,
body {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

/* ul li{
  display: inline-block; 
  padding: 10px;
  font-size: 10px; 
  font-family: raleway;
} */

/* Navigation Bar */

/* .navigation_bar {
  padding: 0.1rem;
  margin: 0 auto;
  background-color: black;
}

.navbar_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

.navbar_item {
  font-size: 1.5rem;
  font-weight: 200;
} */

.logo {
  justify-content: left;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-top: 15px; /* if you want it vertically middle of the navbar. */
}

/*fotos en todas las carpetas*/
.image {
  display: flex;
  width: 90%;
  height: auto;
  margin: 5px;
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5px;
}
.shopping-cart thead th {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.shopping-cart tbody th {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#shopping-cart-actions{
  text-decoration: none;
}

/*button*/
.addToCart .btn {
  text-align: center;
  display: inline-block;
  color: orange;
}

.photo-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*nav bad bootstrap*/

/* Text styles */

.burbank {
  font-family: "Indie Flower", cursive;
}

.text-sm {
  font-size: 1.5rem;
}

.bg-lettuce {
  background-color: #f1a635;
}

.text-lettuce {
  color: #f1a635;
}

/* Black outline for title letters */

.black-outline {
  -webkit-text-fill-color: orange;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* Navbar */

.navbar-brand {
  width: 10em;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.burbank text-sm {
  padding-right: 20px;
}

.navbar-light .navbar-nav > .active,
.navbar-light .navbar-nav > .active:hover,
.navbar-light .navbar-nav > .active:focus {
  color: #b06b12;
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b06b12;
  background-color: transparent;
}

.navbar-light .navbar-nav .dropdown-item:hover {
  color: white;
  background-color: #b06b12;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #b06b12;
  background-color: black;
}

@media (min-width: 750px) {
  /* Navigation Bar */

  .navigation_bar {
    padding: 0.1rem;
    margin: 0 auto;
    background-color: black;
  }

  .navbar_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
  }

  .navbar_item {
    font-size: 1.5rem;
    font-weight: 200;
  }

  .logo {
    justify-content: left;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    margin-top: 15px; /* if you want it vertically middle of the navbar. */
  }

  /*fotos en todas las carpetas*/
  .image {
    display: flex;
    width: 40%;
    height: auto;
    margin: 5px;
  }

  /*button*/
  .addToCart {
    text-align: center;
    display: inline-block;
    color: orange;
  }

  .photo-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1000px) {
  /* Navigation Bar */

  .navigation_bar {
    padding: 0.1rem;
    margin: 0 auto;
    background-color: black;
  }

  .navbar_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
  }

  .navbar_item {
    font-size: 1.5rem;
    font-weight: 200;
  }

  .logo {
    justify-content: left;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    margin-top: 15px; /* if you want it vertically middle of the navbar. */
  }
  /*fotos en todas las carpetas*/
  .image {
    display: flex;
    width: 40%;
    height: auto;
    margin: 5px;
  }

  /*button*/
  .addToCart {
    text-align: center;
    display: inline-block;
    background-color: orange;
  }

  .photo-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
