/* General */

a, a:visited, a:hover {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}

*/
/* Shopping cart */

#shopping-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.shopping-cart_table {
  margin: 20px;
}

.shopping-cart thead th {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.shopping-cart tbody th {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2px;
}

#shopping-cart-actions {
  list-style: none;
}

/*button*/

.addToCart .btn {
  text-align: center;
  display: inline-block;
  color: orange;
}

/* NEW DESIGN */

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

*, :after, :before {
  box-sizing: border-box
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle
}

.grid {
  max-width: 110rem;
  margin: 0 auto
}

html {
  font-size: 100%
}

body {
  background: #000;
  color: #f9f9f9;
  font-family: Inconsolata
}

a {
  color: inherit;
  text-decoration: inherit
}

a:hover {
  text-decoration: underline
}

p {
  font-weight: 100
}

.navigation {
  background-color: #000;
  z-index: 100
}

.navigation__container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.navigation__logo {
  flex-basis: 3rem;
  width: 3rem;
  height: auto;
  margin-right: 1rem
}

.navigation__instagram {
  flex-basis: 2rem;
  width: 2rem;
  height: auto;
  align-self: flex-end
}

.work {
  min-height: 200px;
  min-width: 200px;
  background-color: #fff;
  color: "white"
}

.headline {
  width: 100%;
  background-size: cover
}

.headline__container {
  align-items: center;
  display: flex;
  max-width: 110rem;
  padding: 0 1rem;
  margin: 0 auto;
  flex-flow: column;
  flex-grow: 1
}

@media (min-width:1023px) {
  .headline__container {
    flex-flow: row
  }
}

.headline__container .headline__image {
  width: 100%;
  order: 0
}

@media (min-width:1023px) {
  .headline__container .headline__image {
    width: 55%;
    flex-grow: 1
  }
}

.headline__container .headline__copy {
  width: calc(100% - 3rem);
  background-color: #f9f9f9;
  color: #000;
  transform: translateY(-1.5rem);
  margin-left: -1.5rem;
  padding: 1.5rem;
  box-shadow: .5rem 0 4rem -1rem rgba(0, 0, 0, .35);
  order: 1;
  z-index: 10
}

.headline__container .headline__copy p {
  line-height: 1.1;
  margin-top: 1rem
}

@media (min-width:768px) {
  .headline__container .headline__copy p {
    font-size: 1.5rem
  }
}

.headline__container .headline__copy a {
  display: block;
  font-weight: 700;
  margin-top: 1rem
}

@media (min-width:768px) {
  .headline__container .headline__copy {
    padding: 3rem
  }
}

@media (min-width:1023px) {
  .headline__container .headline__copy {
    order: 0;
    width: 45%;
    transform: translateX(5rem);
    margin-left: -5rem
  }
}

.headline--link .headline__copy, .headline--link .headline__image {
  transition: all .25s
}

.headline--link .headline__copy {
  border: 5px solid transparent
}

.headline--link:hover {
  text-decoration: none
}

.headline--link:hover .headline__image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.headline--link:hover .headline__copy {
  border: 5px solid #fff;
  background-color: #000;
  color: #f9f9f9
}

.headline__copy--link {
  transition: background-color .2s
}

.headline__copy--link:hover {
  text-decoration: none;
  border: 5px solid #fff;
  background-color: #000;
  color: #f9f9f9
}

.headline__copy h1 {
  font-family: Oswald;
  font-size: 2rem;
  text-transform: uppercase
}

.headline__copy h1 span {
  display: block;
  font-weight: 700;
  font-family: Inconsolata;
  font-size: 1.5rem;
  text-transform: none
}

@media (min-width:1023px) {
  .headline__copy h1 {
    font-size: 3.5rem
  }
  .headline__copy h1 span {
    display: block;
    font-family: Inconsolata;
    font-size: 2rem
  }
}

@media (min-width:1023px) {
  .headline--left .headline__image {
    order: 0
  }
}

@media (min-width:1023px) {
  .headline--left .headline__copy {
    order: 1;
    transform: translateX(-5rem);
    margin-left: 0;
    margin-right: -5rem
  }
}

.tiles__container {
  display: flex;
  padding: 0 1rem;
  flex-flow: column
}

@media (min-width:1023px) {
  .tiles__container {
    flex-flow: row;
    overflow: scroll;
    margin-right: 1rem
  }
}

.tiles__tile {
  flex: 1 1;
  margin-bottom: 3rem;
  position: relative;
  transition: all .25s
}

.tiles__tile:first-child {
  margin-left: 0
}

@media (min-width:1023px) {
  .tiles__tile {
    flex-basis: 50%;
    min-width: 30%;
    margin-right: 1.5rem;
    margin-top: 0
  }
}

.tiles__container--grid {
  width: 100%
}

.tiles__container--grid .tiles__tile {
  margin-bottom: 1rem
}

@media (min-width:1023px) {
  .tiles__container--grid {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden
  }
  .tiles__container--grid .tiles__tile {
    flex-basis: calc(50% - 1rem);
    width: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem
  }
}

@media (min-width:1600px) {
  .tiles__container--grid .tiles__tile {
    flex-grow: 1;
    flex-basis: calc(33.33333% - 1rem);
    width: calc(33.33333% - 1rem);
    max-width: calc(33.33333% - 1rem)
  }
}

.tiles__tile__image {
  transition: -webkit-filter .25s;
  transition: filter .25s;
  transition: filter .25s, -webkit-filter .25s
}

.tiles__tile--link:hover .tiles__tile__image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.tiles__tile--link:hover .tiles__tile__copy {
  border: 5px solid #fff;
  background-color: #000;
  color: #f9f9f9
}

.tiles__tile__copy {
  transition: all .25s;
  position: absolute;
  bottom: .75rem;
  right: .75rem;
  border: 5px solid transparent;
  background-color: #f9f9f9;
  color: #000;
  margin-left: 3rem;
  padding: 1rem;
  z-index: 10
}

@media (min-width:1023px) {
  .tiles__tile__copy {
    padding: 2rem;
    bottom: 1.5rem;
    right: 1.5rem
  }
}

.tiles__tile__copy h1 {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 1.5rem
}

@media (min-width:1023px) {
  .tiles__tile__copy h1 {
    font-size: 2rem
  }
}

.tiles__tile__copy h2 {
  font-weight: 700;
  font-family: Inconsolata;
  font-size: 1.25rem
}

@media (min-width:1023px) {
  .tiles__tile__copy h2 {
    font-size: 1.5rem
  }
}

.tiles__tile__copy p {
  margin-top: 1rem
}

.gallery {
  max-width: 220rem;
  margin: 0 auto;
  padding: 0 1rem 1rem
}

.gallery__container {
  -webkit-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 1rem;
  column-gap: 1rem
}

@media (min-width:1023px) {
  .gallery__container {
    -webkit-column-count: 2;
    column-count: 2
  }
}

@media (min-width:1600px) {
  .gallery__container {
    -webkit-column-count: 3;
    column-count: 3
  }
}

.gallery__item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  cursor: pointer
}

.gallery__active__close {
  background-color: #f9f9f9;
  color: #000;
  cursor: pointer;
  display: flex;
  padding: .5rem .75rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1001
}

.gallery__active {
  background-color: rgba(0, 0, 0, .85);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000
}

.gallery__active__photo__container {
  width: 100vw;
  max-height: 100vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fadeIn .5s
}

.gallery__active__photo__container .gatsby-image-wrapper {
  height: 100vh
}

.gallery__arrow {
  cursor: pointer;
  color: #f9f9f9;
  font-size: 2rem;
  height: 2rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  z-index: 1001
}

.gallery__arrow--left {
  left: 2rem
}

.gallery__arrow--right {
  right: 2rem
}

.breadcrumbs {
  position: -webkit-sticky;
  position: sticky;
  display: sticky;
  top: 0;
  padding: .5rem 1rem;
  background-color: #000;
  z-index: 100;
  font-size: .9rem
}

@media (min-width:1023px) {
  .breadcrumbs {
    font-size: 1rem
  }
}

.breadcrumbs ol {
  display: inline
}

.breadcrumbs li {
  display: inline;
  margin-right: .5rem
}

.breadcrumbs li:after {
  padding-left: .5rem;
  content: ">"
}

.breadcrumbs li:last-child:after {
  content: ""
}

.breadcrumbs__link--active {
  font-weight: 700;
  text-decoration: underline
}

.copy {
  max-width: 55rem;
  padding: 1rem;
  margin-bottom: 1rem
}

@media (min-width:1023px) {
  .copy {
    margin: 2rem 0
  }
}

.copy h1 {
  font-family: Oswald;
  font-size: 2rem;
  text-transform: uppercase
}

@media (min-width:1023px) {
  .copy h1 {
    font-size: 3.5rem
  }
}

.copy p {
  font-family: Inconsolata;
  font-size: 120%;
  line-height: 1.5;
  margin-top: 1rem
}

@media (min-width:1023px) {
  .copy p {
    margin-top: 2rem
  }
}

.home__header {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center
}

@media (max-width:767px) {
  .home__header {
    flex-flow: column
  }
}

@media (min-width:1023px) {
  .home__header {
    min-height: 75vh;
    align-items: center
  }
}

.home__content {
  max-width: 110rem;
  margin: 0 auto;
  padding-bottom: 5rem
}

.home__headline {
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem
}

/* LOG IN */

body {
  padding: 0;
  margin: 0;
}

.vid-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bgvid.back {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.inner {
  position: absolute;
}

.inner-container {
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  overflow: hidden;
}

.bgvid.inner {
  top: calc(-50vh + 200px);
  left: calc(-50vw + 200px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}

.box {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  color: white;
  background: rgba(236, 231, 221, 0.479);
  /* padding:50px 0px; */
}

.box h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  text-shadow: 2px 2px #524034f3;
}

.box input {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  background: rgba(0, 0, 0, 0.644);
  color: white;
  font-weight: bold;
  border: 0;
}

.box input:focus, .box input:active, .box button:focus, .box button:active {
  outline: none;
}

.box button {
  background: orange;
  border: 0;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  width: 330px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}

.box button:active {
  background: #b82116;
}

.box p {
  font-size: 14px;
  text-align: center;
}

#linkSingn {
  cursor: pointer;
  color: black;
}

.description {
  display: block;
  width: 300px;
  margin: 20px auto;
}

#priceButton {
  color: orange;
}

.gallery_oneTheme {
  display: flex;
  flex-direction: column;
  text-align: center;
 }

 .gallery_oneTheme_flex {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
 }

 .image {
   width: 80vh;
 }

 .flex-nombre h1 {
font-size: 30px;
font-weight: 300;
margin-bottom: 8px;
}

.image_cart {
  width: 50vh;
  margin-left: 10px;
}
