<h2> PAGE TO DELETE </h2>

<ul>
    {{#each launderers}}
    <li>
        <h3> {{ this.name }} </h3>
        <p> Fee: ${{ this.fee }} </p>

        <a href="/launderers/{{ this._id }}">
            MAYBE WE DELETE THIS ONE
        </a>
    </li>
    {{/each}}
</ul>

<a href="/dashboard">
    Back to Dashboard
</a>